@model IEnumerable<AbsenceNotificationAdminWebApplication.Models.NotificationViewModel>

@{
    ViewBag.Title = "List od notifications";
}

<h2>List of notifications</h2>
@*</br>*@
<p>

    @using (Html.BeginForm("Index", "Notifications", FormMethod.Get))
    {
        <div class="form-inline">
            <div class="form-group">
                @Html.Label("Date from", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.TextBox("dateFrom", null, new { type = "datetime-local", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Date to", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.TextBox("dateTo", null, new { type = "datetime-local", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Filter" class="btn btn-default" /> <span> </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.ActionLink("Reset filters", "Index", "Notifications", new { @class = "btn btn-default" }) <span> </span>
                </div>
            </div>
        </div>
    }

</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AbsencePeriod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AbsenceDuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AbsenceCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AbsenceDescription)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbsencePeriod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbsenceDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbsenceCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbsenceDescription)
            </td>
        </tr>
    }

</table>

@using (Html.BeginForm("ExportView", "Notifications", new { dateFrom = ViewBag.start, dateTo = ViewBag.end }))
{
    <input type="submit" value="Export list to xls" />
}